/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}

p {
  /*border: 1px solid black;
  background-color: #A52A2A;
  width: 96%;
  margin-right: auto;
  margin-left: auto;*/
}

/* Simple Responsive Framework. */
.row {
  width: 100%;  
}

.section-title {
  border: 1px solid black;
  width: 100px;
  position: absolute;
  top: -1px;
  right: -1px;
  margin-top: 0px;
  margin-bottom: 3px;
  text-align: center;
  font-size: 125%;
}

.col {
  float: left;
  border: none;
  padding: 10px;
  height: 100%;
}

.col-container {
  border: 1px solid black;
  position: relative;
  padding: 3%;
  margin-right: auto;
  margin-left: auto;
  background-color: #EEEEEE;
  height: 100%;
}

#Section-1-title {
  background-color: #F7FB7C;
}

#Section-2-title {
  background-color: #E88282;
}

#Section-3-title {
  background-color: #FDB6AE;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12 {
  }
  .lg-1 {
    width: 8.33%;
  }
  .lg-2 {
    width: 16.66%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.33%;
  }
  .lg-5 {
    width: 41.66%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-7 {
    width: 58.33%;
  }
  .lg-8 {
    width: 66.66%;
  }
  .lg-9 {
    width: 74.99%;
  }
  .lg-10 {
    width: 83.33%;
  }
  .lg-11 {
    width: 91.66%;
  }
  .lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12 {
  }
  .md-1 {
    width: 8.33%;
  }
  .md-2 {
    width: 16.66%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.33%;
  }
  .md-5 {
    width: 41.66%;
  }
  .md-6 {
    width: 50%;
  }
  .md-7 {
    width: 58.33%;
  }
  .md-8 {
    width: 66.66%;
  }
  .md-9 {
    width: 74.99%;
  }
  .md-10 {
    width: 83.33%;
  }
  .md-11 {
    width: 91.66%;
  }
  .md-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (max-width: 767px) {
  .sm  {
    width: 100%;
  }

}
