* {
  box-sizing: border-box;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #FFF000;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
    background-color: #D3FFDB;
 }

 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #80FF97;
}

#nav-list li {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	margin-top: -1px;
	background-color: #FFFEAC;
}

#nav-list li:nth-child(1) {
	margin-top: 0px;
}

.big-main-container {
	background-color: white;
	/*padding: 3%;
	margin: 3%;*/
	box-sizing: border-box;
	padding: 10px;
}

.big-main-container p {
	text-indent: 5%;
	text-align: justify;
}

.section-container {
	background-color: white;
	border: 1px solid black;
	position: relative;
	padding: 3%;
	margin-right: auto;
	margin-left: auto;
	background-color: #EEEEEE;
	min-height: 500px;
}

.section-container .section-title {
	text-align: center;
	font-size: 1.4em;
	border-bottom: double #4C74D0;
}